In [1]:
import numpy as np
import data_get
import race_before_data
import pandas as pd
from IPython.core.display import display
import glob

/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/981788236.py:5: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display

In [2]:
usecols = [f'{k}_{i}' for k in ('class', 'glob_win', 'glob_in2',
                                'loc_win', 'loc_in2', 'moter_in2', 'boat_in2', 'EST','ESC' )
            for i in range(1, 7)]

usecols += [f'ET_{i}_y'
            for i in range(1, 7)]

In [3]:
hoge = pd.read_csv("dataset/all_data_2021.csv")

/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/2006806904.py:1: DtypeWarning: Columns (4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  hoge = pd.read_csv("dataset/all_data_2021.csv")

In [4]:
tmp = hoge[usecols]

In [5]:
def rank_mapper(x):
    if 'A1' in x:
        y = 4
    elif 'A2' in x:
        y = 3
    elif 'B1' in x:
        y = 2
    else:
        y = 1
    return y

In [6]:
for i in range(1,7):
    col_name_class = f"class_{i}"
    tmp.loc[:, col_name_class] = tmp.loc[:, col_name_class].map(rank_mapper)

/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/3960710544.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[:, col_name_class] = tmp.loc[:, col_name_class].map(rank_mapper)

In [7]:
class_col = [s for s in tmp.columns if "class" in s]

In [8]:
def hensachi(x):
    if x.std() == 0:
        return np.full(6,50.0)

    hensa = (x - x.mean())*10/x.std()+50

    return hensa
tmp.loc[:, class_col] = tmp.loc[:,class_col].apply(hensachi,axis=1)

/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/3214705363.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[:, class_col] = tmp.loc[:,class_col].apply(hensachi,axis=1)

In [9]:
hensa_col = ['glob_win', 'glob_in2','loc_win', 'loc_in2', 'moter_in2', 'boat_in2', 'EST', "ET","ESC"]

for i in hensa_col:
    class_col = [s for s in tmp.columns if i in s]
    tmp.loc[: , class_col] = tmp.loc[:, class_col].apply(hensachi,axis=1)

tmp

/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/267683165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[: , class_col] = tmp.loc[:, class_col].apply(hensachi,axis=1)
/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/267683165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[: , class_col] = tmp.loc[:, class_col].apply(hensachi,axis=1)
/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/267683165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[: , class_col] = tmp.loc[:, class_col].apply(hensachi,axis=1)
/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/267683165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[: , class_col] = tmp.loc[:, class_col].apply(hensachi,axis=1)
/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/267683165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[: , class_col] = tmp.loc[:, class_col].apply(hensachi,axis=1)
/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/267683165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[: , class_col] = tmp.loc[:, class_col].apply(hensachi,axis=1)
/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/267683165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[: , class_col] = tmp.loc[:, class_col].apply(hensachi,axis=1)
/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/267683165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[: , class_col] = tmp.loc[:, class_col].apply(hensachi,axis=1)
/var/folders/s6/7jf_zlp94gg5cpb8c5lrx2j80000gn/T/ipykernel_53700/267683165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[: , class_col] = tmp.loc[:, class_col].apply(hensachi,axis=1)

,class_1,class_2,class_3,class_4,class_5,class_6,glob_win_1,glob_win_2,glob_win_3,glob_win_4,...,ESC_3,ESC_4,ESC_5,ESC_6,ET_1_y,ET_2_y,ET_3_y,ET_4_y,ET_5_y,ET_6_y
0,55.976143,44.023857,44.023857,67.928429,44.023857,44.023857,49.809997,45.304201,48.832836,68.321757,...,52.672612,41.982163,58.017837,63.363062,66.736548,46.652690,39.121244,44.142208,56.694619,46.652690
1,66.329932,54.082483,41.835034,54.082483,41.835034,41.835034,64.161019,52.391519,48.199643,55.535427,...,47.327388,52.672612,58.017837,63.363062,55.536102,31.378565,55.536102,58.555795,52.516410,46.477026
2,54.767313,64.301939,45.232687,45.232687,54.767313,35.698061,58.489989,58.586741,50.749828,46.734620,...,47.327388,52.672612,58.017837,63.363062,62.346620,47.530676,45.061352,35.184056,59.877296,50.000000
3,44.023857,55.976143,44.023857,44.023857,67.928429,44.023857,44.880599,61.578181,42.380426,37.380080,...,47.327388,52.672612,58.017837,63.363062,56.099375,63.418626,48.780125,34.141624,52.439750,45.120500
4,41.835034,66.329932,41.835034,54.082483,41.835034,54.082483,34.875193,53.745710,45.817472,50.404056,...,47.327388,52.672612,58.017837,63.363062,51.977041,32.997443,51.977041,63.839290,47.232142,51.977041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44793,46.772514,46.772514,56.454972,37.090056,46.772514,66.137431,52.255058,46.465044,51.523688,32.569010,...,47.327388,63.363062,52.672612,58.017837,43.795105,48.651110,56.744452,38.939099,45.413773,66.456462
44794,56.454972,37.090056,56.454972,56.454972,37.090056,56.454972,49.953542,42.055598,51.254379,66.028179,...,47.327388,52.672612,58.017837,63.363062,55.866354,49.466695,52.666524,55.866354,30.267719,55.866354
44795,65.498260,38.929814,52.214037,38.929814,52.214037,52.214037,61.677814,35.777604,52.135631,44.229252,...,47.327388,52.672612,58.017837,63.363062,45.027548,41.712581,54.972452,45.027548,68.232322,45.027548
44796,65.498260,52.214037,52.214037,52.214037,38.929814,38.929814,56.816773,65.345817,46.930837,43.247841,...,47.327388,52.672612,58.017837,63.363062,44.874322,48.718580,39.107934,42.952192,60.251357,64.095615
44797,54.082483,54.082483,29.587585,54.082483,54.082483,54.082483,62.707807,44.685826,60.397297,36.830091,...,47.327388,52.672612,58.017837,63.363062,67.500000,47.500000,50.000000,45.000000,52.500000,37.500000

In [10]:
hoge.loc[:, "tkt_1t"].values

array(['1', '1', '4', ..., '1', '3', '4'], dtype=object)