In [27]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import glob

files = glob.glob("dataset/place/*")
len(files)

24

In [28]:
files[0]

'dataset/place/戸田.csv'

In [29]:
sample_place_df = pd.read_csv(files[0], index_col=0)

,day,place_cd,race_no,distance,toban_1,toban_2,toban_3,toban_4,toban_5,toban_6,...,odds_3t,odds_3f,poprank_2t,poprank_2f,poprank_w1,poprank_w2,poprank_w3,poprank_3t,poprank_3f,wakunari
count,5265.000000,5265.0,5265.000000,5265.000000,5265.000000,5265.000000,5265.000000,5265.000000,5265.000000,5265.000000,...,5265.000000,5265.000000,5265.000000,5265.000000,5265.000000,5265.000000,5265.000000,5265.000000,5265.000000,5265.000000
mean,3.079962,2.0,6.484141,1784.045584,4183.920418,4191.694777,4184.501804,4236.727825,4275.565052,4318.403609,...,75.335518,13.267958,6.592593,3.886610,4.135992,5.039506,6.543210,21.988034,5.217854,0.779297
std,1.562729,0.0,3.452702,96.539507,557.619869,574.332655,566.149762,585.305404,602.096760,605.575661,...,123.512189,15.287182,6.080437,3.147142,3.272590,3.559412,3.845329,23.489482,4.476788,0.414760
min,1.000000,2.0,1.000000,1200.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,...,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,2.000000,2.0,3.000000,1800.000000,3740.000000,3722.000000,3730.000000,3778.000000,3807.000000,3857.000000,...,18.200000,4.600000,2.000000,1.000000,2.000000,2.000000,3.000000,5.000000,2.000000,1.000000
50%,3.000000,2.0,6.000000,1800.000000,4188.000000,4191.000000,4181.000000,4230.000000,4276.000000,4358.000000,...,36.100000,7.900000,4.000000,3.000000,3.000000,4.000000,6.000000,13.000000,4.000000,1.000000
75%,4.000000,2.0,9.000000,1800.000000,4641.000000,4700.000000,4664.000000,4761.000000,4826.000000,4887.000000,...,80.200000,15.600000,9.000000,5.000000,6.000000,7.000000,9.000000,31.000000,7.000000,1.000000
max,7.000000,2.0,12.000000,1800.000000,5173.000000,5173.000000,5173.000000,5201.000000,5231.000000,5231.000000,...,2413.700000,210.400000,30.000000,15.000000,15.000000,15.000000,15.000000,120.000000,20.000000,1.000000